@tailwind base;
@tailwind components;
@tailwind utilities;
/* custom css  */
/* services  */
.service-shadow {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
}
/* slider  */
.splide__arrows {
  display: none !important;
  /* background-color: red !important; */
}
.splide__pagination {
  position: absolute;
}

/* scroll  */
html {
  scroll-behavior: smooth;
}
/* fonts  */
body {
  font-family: "Montserrat", sans-serif;
}

/* You can also create specific classes if needed */
.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-georgia {
  font-family: "Georgia", serif;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}
/* footer  */
.white-text {
  color: white !important;
}
.font-weight-400 {
  font-weight: 300 !important;
}
